@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #70ee9c;
}

a {
  transition: all 1000ms ease;
}

nav,
.nav_links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 16vh;
}
.nav_links {
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}
a:hover {
  color: grey;
}

.logo {
  font-size: 1.5rem;
}

/* Profile info section css */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.profile_container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.text_p1 {
  font-size: 2.4rem;
}

.text_cont {
  align-self: center;
}
.profile-picture {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Experience Style*/

.title_exp {
  text-align: center;
  font-size: 3rem;
}

.experience_container {
  display: flex;
  justify-content: center;
}
.details_experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.details_experience article img {
  height: 150px;
  width: auto; /* Allow the width to adjust according to height */
}
