@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* * {
  margin: 0;
  padding: 0;
} */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #70ee9c;
}

a {
  transition: all 1000ms ease;
}

nav,
.nav_links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}
.nav_links {
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}
a:hover {
  color: grey;
}

.logo {
  font-size: 1.5rem;
}

/* Profile info section css */

section {
  height: 76vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 60vh; /* Adjust for header height */
}

.text_p1 {
  font-size: 2.4rem;
}

#pro_image img {
  width: 100%; /* Display image at full width of its container */
  border-radius: 50%; /* Set a circular image shape */
}
